# **Syntax**

In [ ]:
#Indentation (vice brackets or braces) sets apart lines of code in a code block
#def (functions)
#if, elif, else (conditional statements)
#for, while (loops)
#class (classes)

In [ ]:
#use pass to get around code blocks you have yet to write/finish. EX: 
class EmptyClass:
    pass

for val in my_string:
    pass

# **Data Types**

Primitive Data Types

In [ ]:
# Strings - Literal Text
name = "Joe Blue"

In [ ]:
# Boolean Values - Assesses the truth value of something. It has only two values: 
is_hungry = True
has_freckles = False

In [ ]:
# Numbers - Integers (whole numbers), floating point numbers (commonly known as decimal numbers), and complex numbers
age = 35 # storing an int
weight = 160.57 # storing a float

Composite Types

In [ ]:
# Tuples - A type of data that is immutable (can't be modified after its creation) and can hold a group of values. 
# Tuples can contain mixed data types.
dog = ('Bruce', 'cocker spaniel', 19, False)
print(dog[0])		# output: Bruce
dog[1] = 'dachshund'	# ERROR: cannot be modified

IndentationError: ignored

In [ ]:
# List - A type of data that is mutable and can hold a group of values. Usually meant to store a collection of related data
empty_list = []
ninjas = ['Rozen', 'KB', 'Oliver']
print(ninjas[2]) 	# output: Oliver
ninjas[0] = 'Francis'
ninjas.append('Michael')
print(ninjas)	# output: ['Francis', 'KB', 'Oliver', 'Michael']
ninjas.pop()
print(ninjas)	# output: ['Francis', 'KB', 'Oliver']
ninjas.pop(1)
print(ninjas)	# output: ['Francis', 'Oliver']

{'name': 'Jack', 'age': 38, 'weight': 160.2, 'has_glasses': False}

In [ ]:
#Dictionaries - A group of key-value pairs. Dictionary elements are indexed by unique keys which are used to access values. 
empty_dict = {}
new_person = {'name': 'John', 'age': 38, 'weight': 160.2, 'has_glasses': False}
new_person['name'] = 'Jack'	# updates if the key exists
new_person['hobbies'] = ['climbing', 'coding']	# adds a key-value pair if the key doesn't exist
print(new_person)   # output: {'name': 'Jack', 'age': 38, 'weight': 160.2, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}
w = new_person.pop('weight')	# removes the specified key and returns the value
print(w)    # output: 160.2
print(new_person)	# output: {'name': 'Jack', 'age': 38, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}  

## Other dictionary functions can be found at <- https://www.w3schools.com/python/python_ref_dictionary.asp

{'name': 'Jack', 'age': 38, 'weight': 160.2, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}
160.2
{'name': 'Jack', 'age': 38, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}

In [ ]:
.values()

NameError: ignored

# **Common Functions**

In [ ]:
# type will tell you what class your variable is. EX:
print(type(2.63))		# output: <class 'float'>
print(type(new_person))		# output: <class 'dict'>

In [ ]:
# len will give you the length attribute of an object.
print(len(new_person))		# output: 4 (the number of key-value pairs)
print(len('Coding Dojo'))	# output: 11

In [ ]:
# Type Casting or Explicit Type Conversion: Swapping class type on the fly within code block/chunk
print("Hello" + 42)			# output: TypeError
print("Hello" + str(42))		# output: Hello 42

total = 35
user_val = "26"
total = total + user_val		# output: TypeError
total = total + int(user_val)		# total will be 61

## **Conditionals**

The primary conditional statements in python are if, elif, and else

## **Comparison and Logical Operators**

used within python grammar to make comparisons and check the trueness/falsness of a statement. The primary onesa re as follows..

>== checks if both operands are equal (equal to) <br>
>!= checks if both operands aare not equal (not equal) <br>
>. > checks if left operand is greater than the right (greater than) <br>
>< checks if left operand is less than the right (less than) <br>
>.  >= checks if left operand is greater/equal to right (greater or equal) <br>
><= checks if left operand is less/equal to right (less or equal)<br>
>and checks if both are true<br>
>or checks if either are true<br>
>not reverses the true/false operand<br>

## **For Loops**

Used to iterate through loops using the range function

Range takes three arguements range(start, end, incriment)

the only required argemets is the end position... the start will be assumed as 0 and the incriment as +1. 
>for x in range(0, 10, 1): <br>
>for x in range(0, 10):	# increment of +1 is implied <br>
>for x in range(10):	# increment of +1 and start at 0 is implied

For Loops through a List

In [ ]:
my_list = ["abc", 123, "xyz"]
for i in range(0, len(my_list)):
    print(i, my_list[i])
# output: 0 abc, 1 123, 2 xyz
    
# OR 
    
for v in my_list:
    print(v)
# output: abc, 123, xyz

For Loops through a Dictionary

In [ ]:
#Note it defaults to the key
my_dict = { "name": "Noelle", "language": "Python" }
for k in my_dict:
    print(k)
# output: name, language

#To get the values use the following:
my_dict = { "name": "Noelle", "language": "Python" }
for k in my_dict:
    print(my_dict[k])
# output: Noelle, Python

#To Specify the keys or values arguement
for key in capitals.keys():
     print(key)
#to iterate through the values
for val in capitals.values():
     print(val)
#to iterate through both keys and values
for key, val in capitals.items():
     print(key, " = ", val)

## **While Loops**
Allow us to iterate through a loop until a condition is met

In [ ]:
count = 0
while count < 5:
    print("looping - ", count)
    count += 1

looping -  0
looping -  1
looping -  2
looping -  3
looping -  4

## **Else (with loops)**
Allow us to define what happens if the conditions within a loop are not met

Note that this else code section is only executed if the while loop runs normally and its conditional is false. If instead our while loop is exited prematurely because of a break or return statement, then the else code section will never be executed.

In [ ]:
y = 3
while y > 0:
    print(y)
    y = y - 1
else:
    print("Final else statement")

## ** Loop Control - Breaks/Continue**

Break: exits the current loop prematurely, resuming execution at the first post-loop statement. The break statement can be used in both while and for loops.

Continue: immediately returns control to the beginning of the loop. In other words, the continue statement rejects, or skips, all the remaining statements in the current iteration of the loop, and continues normal execution at the top of the loop.

The continue statement is very useful when you want to skip specific iteration(s), but still keep looping to the end.

In [ ]:
for val in "string":
    if val == "i":
        break
    print(val)
# output: s, t, r
# Notice that when the loop got to the letter "i", we stopped looping.

for val in "string":
    if val == "i":
        continue
    print(val)
# output: s, t, r, n, g
# notice, no i in the output, but the loop continued after the i