# Advance Transformation Practice

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os,json
import requests

In [22]:
# download straight from google
ID = "1xNr-9LL34qcU3TxHKHoLSCGxzUmc-Pld"
file = f"https://drive.google.com/uc?export=download&id={ID}"

# response = requests.get(file)
# response

pd.read_csv(file, compression='gzip')

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1.410727e+10,(410) 727-4898,1349.560720
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",1.443450e+10,(443) 449-7726,2090.712792
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","['pickup', 'delivery']",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1.410529e+10,(410) 528-5373,1028.736468
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","['pickup', 'delivery']",$$,"{'address1': '2901 Odonnell St', 'address2': '...",1.410276e+10,(410) 276-3160,3328.825798
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.2958288, 'longitude': -76.6188...",['delivery'],$$,"{'address1': '520 Park Ave', 'address2': None,...",1.844748e+10,(844) 748-2537,966.729941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,BRJ1HbKcfDg7axFWWhUNzA,golden-west-cafe-baltimore-3,Golden West Cafe,https://s3-media2.fl.yelpcdn.com/bphoto/Tq43MA...,False,https://www.yelp.com/biz/golden-west-cafe-balt...,853,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",3.5,"{'latitude': 39.3308895, 'longitude': -76.6340...","['delivery', 'pickup']",$$,"{'address1': '1105 W 36th St', 'address2': '',...",1.410890e+10,(410) 889-8891,4475.257151
425,nA8hY_b-yD4U_PQGWGmw9Q,american-wings-and-pizza-baltimore,American Wings & Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/mYgJ5p...,False,https://www.yelp.com/biz/american-wings-and-pi...,55,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",2.5,"{'latitude': 39.3165, 'longitude': -76.61556}","['delivery', 'pickup']",$,"{'address1': '2400 St Paul St', 'address2': ''...",1.410235e+10,(410) 235-2300,2361.614576
426,WVQqkLAKowuIe51IVNXCZA,outback-steakhouse-baltimore,Outback Steakhouse,https://s3-media2.fl.yelpcdn.com/bphoto/NzwBx9...,False,https://www.yelp.com/biz/outback-steakhouse-ba...,133,"[{'alias': 'steak', 'title': 'Steakhouses'}]",3.0,"{'latitude': 39.2817468, 'longitude': -76.5816...","['delivery', 'pickup']",$$,"{'address1': '2400 Boston St', 'address2': '',...",1.410523e+10,(410) 522-7757,2755.986468
427,rtlLrtUn35c9Y2eIcxHT8g,kings-pizza-and-subs-baltimore-2,King's Pizza & Subs,https://s3-media2.fl.yelpcdn.com/bphoto/9FEdeU...,False,https://www.yelp.com/biz/kings-pizza-and-subs-...,75,"[{'alias': 'pizza', 'title': 'Pizza'}]",2.5,"{'latitude': 39.33086, 'longitude': -76.63161}","['delivery', 'pickup']",$$,"{'address1': '907 W 36th St', 'address2': None...",1.410889e+10,(410) 889-3663,4382.210159
428,EWkA_yQ1VPa7cHbkiBbawA,phillys-best-baltimore,Philly's Best,https://s3-media2.fl.yelpcdn.com/bphoto/9SJo7t...,False,https://www.yelp.com/biz/phillys-best-baltimor...,44,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",3.0,"{'latitude': 39.33084, 'longitude': -76.63393}","['delivery', 'pickup']",$,"{'address1': '1101 W 36th St', 'address2': '',...",1.410243e+10,(410) 243-1301,4467.724059

In [23]:
df = pd.read_csv(file, compression='gzip')

display(df.head()) 
print('\n\n')
df.info()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1.410727e+10,(410) 727-4898,1349.560720
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",1.443450e+10,(443) 449-7726,2090.712792
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","['pickup', 'delivery']",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1.410529e+10,(410) 528-5373,1028.736468
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","['pickup', 'delivery']",$$,"{'address1': '2901 Odonnell St', 'address2': '...",1.410276e+10,(410) 276-3160,3328.825798
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.2958288, 'longitude': -76.6188...",['delivery'],$$,"{'address1': '520 Park Ave', 'address2': None,...",1.844748e+10,(844) 748-2537,966.729941

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             429 non-null    object
 1   alias          429 non-null    object
 2   name           429 non-null    object
 3   image_url      420 non-null    object
 4   is_closed      429 non-null    bool
 5   url            429 non-null    object
 6   review_count   429 non-null    int64
 7   categories     429 non-null    object
 8   rating         429 non-null    float64
 9   coordinates    429 non-null    object
 10  transactions   429 non-null    object
 11  price          339 non-null    object
 12  location       429 non-null    object
 13  phone          413 non-null    float64
 14  display_phone  413 non-null    object
 15  distance       429 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(11)
memory usage: 50.8+ KB

## Separate a String Column
- separate the display_phone column into area code and phone number

In [24]:
df['display_phone'].head(2)

0    (410) 727-4898
1    (443) 449-7726
Name: display_phone, dtype: object

In [25]:
df['display_phone'].str.split(' ', expand=True)

         0         1
0    (410)  727-4898
1    (443)  449-7726
2    (410)  528-5373
3    (410)  276-3160
4    (844)  748-2537
..     ...       ...
424  (410)  889-8891
425  (410)  235-2300
426  (410)  522-7757
427  (410)  889-3663
428  (410)  243-1301

[429 rows x 2 columns]

In [26]:
df[['area_code', 'phone_number']] = df['display_phone'].str.split(' ', expand=True)
df.drop(columns = ['display_phone', 'phone'], inplace = True)
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,distance,area_code,phone_number
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,(410),727-4898
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,(443),449-7726

## Replace Multiple Characters within a String Column
- remove the parentheses from area code

In [27]:
to_replace = ['(',')']

for char in to_replace:
    df['area_code'] = df['area_code'].str.replace(char,'',regex=False)

df['area_code'].head()

0    410
1    443
2    410
3    410
4    844
Name: area_code, dtype: object

## Convert String of Dictionaries into Actual Dictionaries
- Coordinates is not actually a dictionary (note the ""... ie it is a string).

In [28]:
coord = df.loc[0,"coordinates"]
print(type(coord))
coord

<class 'str'>

"{'latitude': 39.291696, 'longitude': -76.62224}"

In [29]:
# json.loads(coord)
# fails because of the single quotes areound latitude and longitude

In [30]:
coord = coord.replace("'",'"')
coord

'{"latitude": 39.291696, "longitude": -76.62224}'

In [31]:
fixed_coord = json.loads(coord)
print(type(fixed_coord))
fixed_coord

<class 'dict'>

{'latitude': 39.291696, 'longitude': -76.62224}

In [32]:
df['coordinates'] = df['coordinates'].str.replace("'",'"')
df['coordinates'] = df['coordinates'].apply(json.loads)
df['coordinates'].head()

0      {'latitude': 39.291696, 'longitude': -76.62224}
1       {'latitude': 39.28214, 'longitude': -76.59162}
2    {'latitude': 39.2870995, 'longitude': -76.6053...
3     {'latitude': 39.27986, 'longitude': -76.5752399}
4    {'latitude': 39.2958288, 'longitude': -76.6188...
Name: coordinates, dtype: object

## Unpack columns of dictionaries into separate columns
- Separate our coord columns

In [33]:
lat_long = df['coordinates'].apply(pd.Series)
lat_long

      latitude  longitude
0    39.291696 -76.622240
1    39.282140 -76.591620
2    39.287099 -76.605366
3    39.279860 -76.575240
4    39.295829 -76.618891
..         ...        ...
424  39.330889 -76.634097
425  39.316500 -76.615560
426  39.281747 -76.581631
427  39.330860 -76.631610
428  39.330840 -76.633930

[429 rows x 2 columns]

In [34]:
df = pd.concat((df, lat_long), axis = 1)
df.drop(columns = ['coordinates'])
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,distance,area_code,phone_number,latitude,longitude
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.62224
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.59162

## Convert a column containing lists to actual lists
- transactions column is a column containing lists.

In [35]:
df.loc[2,'transactions']

"['pickup', 'delivery']"

In [36]:
df['transactions_split'] = df['transactions'].str.replace("'",'"')
df['transactions_split'] = df['transactions_split'].apply(json.loads)
df['transactions_split'].head()

0            [delivery]
1            [delivery]
2    [pickup, delivery]
3    [pickup, delivery]
4            [delivery]
Name: transactions_split, dtype: object

## Convert a column of lists into OHE columns

In [37]:
df['transactions_split'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[delivery, pickup]                            119
[pickup, delivery]                            107
[delivery]                                    105
[]                                             86
[pickup]                                        6
[pickup, delivery, restaurant_reservation]      2
[delivery, pickup, restaurant_reservation]      2
[restaurant_reservation]                        2
Name: transactions_split, dtype: int64

In [38]:
exploded = df.explode('transactions_split')
exploded.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,distance,area_code,phone_number,latitude,longitude,transactions_split
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.622240,delivery
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.591620,delivery
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","['pickup', 'delivery']",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1028.736468,410,528-5373,39.287099,-76.605366,pickup
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","['pickup', 'delivery']",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1028.736468,410,528-5373,39.287099,-76.605366,delivery
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","['pickup', 'delivery']",$$,"{'address1': '2901 Odonnell St', 'address2': '...",3328.825798,410,276-3160,39.279860,-76.575240,pickup

In [19]:
cols_to_make = exploded['transactions_split'].dropna().unique()
cols_to_make

array(['delivery', 'pickup', 'restaurant_reservation'], dtype=object)

In [39]:
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,distance,area_code,phone_number,latitude,longitude,transactions_split
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",['delivery'],$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.622240,[delivery]
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",['delivery'],$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.591620,[delivery]
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","['pickup', 'delivery']",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1028.736468,410,528-5373,39.287099,-76.605366,"[pickup, delivery]"
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","['pickup', 'delivery']",$$,"{'address1': '2901 Odonnell St', 'address2': '...",3328.825798,410,276-3160,39.279860,-76.575240,"[pickup, delivery]"
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.2958288, 'longitude': -76.6188...",['delivery'],$$,"{'address1': '520 Park Ave', 'address2': None,...",966.729941,844,748-2537,39.295829,-76.618891,[delivery]

In [40]:
for col in cols_to_make:
    df[col] = df['transactions'].str.contains(col)

df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,...,location,distance,area_code,phone_number,latitude,longitude,transactions_split,delivery,pickup,restaurant_reservation
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",...,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.622240,[delivery],True,False,False
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",...,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.591620,[delivery],True,False,False
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...",...,"{'address1': '750 E Pratt St', 'address2': '',...",1028.736468,410,528-5373,39.287099,-76.605366,"[pickup, delivery]",True,True,False
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}",...,"{'address1': '2901 Odonnell St', 'address2': '...",3328.825798,410,276-3160,39.279860,-76.575240,"[pickup, delivery]",True,True,False
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.2958288, 'longitude': -76.6188...",...,"{'address1': '520 Park Ave', 'address2': None,...",966.729941,844,748-2537,39.295829,-76.618891,[delivery],True,False,False

In [43]:
df.drop(columns = ['transactions', 'transactions_split'], inplace = True)

In [44]:
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,price,location,distance,area_code,phone_number,latitude,longitude,delivery,pickup,restaurant_reservation
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.622240,True,False,False
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.591620,True,False,False
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1028.736468,410,528-5373,39.287099,-76.605366,True,True,False
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}",$$,"{'address1': '2901 Odonnell St', 'address2': '...",3328.825798,410,276-3160,39.279860,-76.575240,True,True,False
4,p_XPpHiZbdOccx2jFUgZJA,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.2958288, 'longitude': -76.6188...",$$,"{'address1': '520 Park Ave', 'address2': None,...",966.729941,844,748-2537,39.295829,-76.618891,True,False,False

# Advanced Transformations pt 2
Transformations for Relational Database work.

## Replace String-ids with interger_ids
replace long string ids with a numeric version

In [46]:
unique_ids = sorted(df['id'].unique())
unique_ids[:3]

['-CGGHN0TJHr3FW7Kdt0K2g', '-QNqenvxWiBAaJdhhTB04Q', '-pVulrA2NbgQUNS_jDjEqA']

In [47]:
int_ids = range(len(unique_ids))
int_ids

range(0, 429)

In [52]:
# Zip together into a dictionary
id_map = dict(zip(unique_ids, int_ids))
id_map

{'-CGGHN0TJHr3FW7Kdt0K2g': 0,
 '-QNqenvxWiBAaJdhhTB04Q': 1,
 '-pVulrA2NbgQUNS_jDjEqA': 2,
 '04boSlm1rZyGJlUebo0SxA': 3,
 '0HAy_fw3WrsiG_5lRVObTw': 4,
 '0_mX70KNZZXOUna_dxSgIA': 5,
 '0l5vNvQtvVTXEpUYyDkaVw': 6,
 '0rjYkCWD4TiyYcbelalcig': 7,
 '19NqOlADe8wHXWtx5sWRtQ': 8,
 '1C8QSqc-erkkyAUywh501A': 9,
 '1EH88Idp4v2pWorFt2U4Cw': 10,
 '1NSAo5aoGkwqUFb67K0Muw': 11,
 '1n30b0G2weApQ4oEfPMWIA': 12,
 '1qLU9YdoQBoF8fK4K7GYxQ': 13,
 '1xHs6aH0ZFRF27F1JYLrYw': 14,
 '1xQWV-Elkm80dDYGzTdhWg': 15,
 '2BKIPMgzbQnH2bMYpDamVg': 16,
 '2EZQSpT0WQf1_KOEg1lEfw': 17,
 '2Hr1RarrQXwRyBElL9AFzw': 18,
 '2TflLhaGZEAfFhFU3R4i-w': 19,
 '2dIy9KQlWc8BdKMpmuwn6Q': 20,
 '32kPGuT26Vzq_i2GWOgbyw': 21,
 '3BdaxqMsmN26GujaArci8A': 22,
 '3MIe3BlV4HgIAchZVVPPxA': 23,
 '3RtD9VadLIF_mYkgnFwIew': 24,
 '3tyOZK3p2usVOWDgGWXSCg': 25,
 '43tCUdPOjuVELQbCdWddyg': 26,
 '47Q2Xv30J9lu16UHnRmYvA': 27,
 '4QrEtrKk8A2o1CclzKcKqg': 28,
 '4iTgpJ8Fri5-IOlmF65nsw': 29,
 '4zPM8esvWlTS0TWPhzVpHQ': 30,
 '4zyGvuJbj00igVPaL0Yqyg': 31,
 '5AzN8ZJZDGa7AgqaSdnK0g': 32,
 '5DfBR-xCT46SdrO-9RETig': 33,
 '5jv3znLBIdiZjzUaurOU-w': 34,
 '5m1TbMkbxiQgjWK1Mgsv0g': 35,
 '5rYJkTY_V5y5IGepcDmW_w': 36,
 '5vVdiNp18mzUYWIO-PwWHQ': 37,
 '64u9td_PudVB_c-O8_27AA': 38,
 '6Omm4GMPqsuvpr7-oJwbow': 39,
 '6PLtSs9Bi4QDSNBM_u4fNg': 40,
 '6SiYV3SVvshUeMZ6n3Bs2A': 41,
 '6am8TZAFnvND52MOz-Yctg': 42,
 '6ebsJErpVEfkbIcF4pJrxw': 43,
 '6ulR8s_SK3X0wYVQNZ0DSQ': 44,
 '6z_6YlDmkQYiytLK0lauoQ': 45,
 '71uHi4ku8ObtlknO0Em3dg': 46,
 '7Fpkt7wzJdISBo0rS9M6Dg': 47,
 '7HO2_4FzCXrz00HiPDiFuA': 48,
 '7jh7CE-M1dTWQaOmJOZ6jA': 49,
 '7k1Md0OHW9Fnw0icdAaKjA': 50,
 '7lDhtcolamUZw6oP5V1ehw': 51,
 '7mD62W-4e77RalJsVIxV8A': 52,
 '7rtxuwvcd9958yJY8lrmqg': 53,
 '7zE86wGqwouB_ZUg9ba2pA': 54,
 '8-cBsSXmLaGK6qCD0tmcZg': 55,
 '88woCRM-coIVQEm9cDb_VA': 56,
 '8CVEWBA8okj_xV5cv5zfWg': 57,
 '8CwAh3Ms4SArVZ5aIozwUg': 58,
 '8M8v0WnNt9jUcQvohngn9A': 59,
 '8OKvG1mNuPwGniyFHrIyhA': 60,
 '8OSsN1TDSpsxsEBIBB7rxA': 61,
 '8jEXWthTkBOYkHqayTqvSA': 62,
 '8noXwvC2lMTODTX7X8pVDw': 63,
 '8s9pFQrVGH4nq-rSrqjk2g': 64,
 '8sjcx1mIR4OR3ClZy19rJw': 65,
 '968TUo-YbBBYC4VUKuJ8aw': 66,
 '96k1k6WIcc2AAyJNla2a6Q': 67,
 '98nOJ7Salhmy9QtJ414-hg': 68,
 '9JXcm35nmf2yUL7oc2ZAKQ': 69,
 '9Wq6vPxyuuKEhiEGf_yi6A': 70,
 '9mA6VlVrWJdwByNV5IoXmA': 71,
 '9zwYZTQsvF0I2nBYTTxm8Q': 72,
 'A4Ajp4Qunjq0Eeu7yvw4ow': 73,
 'AAm3jwOC2feBO4yPWzmVpg': 74,
 'ADlBCJrLuDfpzzZhNHDgEg': 75,
 'AQ56plNP56TIk3JswtoiMA': 76,
 'AjMBJPjnaGIVhBd08gpjvA': 77,
 'An1oHvu7wpCD6OtJ3-j8JQ': 78,
 'ApCb7TSe-K28zbSvKtoHLw': 79,
 'AsJN75dcYYsfVo1R59WvmQ': 80,
 'AtWb8bkh5IEf-GnpK4ORPQ': 81,
 'BAZmBvFrjy1Fsa_n76d6eA': 82,
 'BJrktyd8gy1bPd9flu54RA': 83,
 'BJsFm_NsYhVbtjwI-OLPQg': 84,
 'BRJ1HbKcfDg7axFWWhUNzA': 85,
 'BSXUJURBDpeHh_fC35b6dQ': 86,
 'BTFMNvUm8D0n3qgJXm5sbg': 87,
 'BWNHQGtMsOvZVLc3i0E5Qg': 88,
 'BhnCaqbJtWrC36eVxlewSw': 89,
 'BlfBK01Gw4-BDiN8QYInHg': 90,
 'BtpHrd5MW8LpYe2V_MUnsQ': 91,
 'C9WBxWTvhFH3DFVPqbWG4A': 92,
 'CFcg8WuqHeDbRhRAKfvgSg': 93,
 'CO4yYeotHQtXFdEf0C0Euw': 94,
 'CQ79htRPD6yxi0Zg4sYTNw': 95,
 'CYDKF6DeFSJabiZKwl_gJg': 96,
 'Cb_V6fPTfaWV-EjsajlEHw': 97,
 'CqtGIiJdOyoNbzXMrWc19A': 98,
 'D9A33FM394q99o4QtK5YwA': 99,
 'DHaz4z2lNg5_IpbUMMFhmA': 100,
 'DNG-7yuls7LmgD1U5BXZMA': 101,
 'DNLU_6q6DKkb_qn9ypF6Gg': 102,
 'DVN0zjhbo955peWYrHQ47w': 103,
 'DiVP0MoKsOMtilPkumBfag': 104,
 'DnhKT0A9OIgFdIhzNryJBw': 105,
 'DvG2T2JLOcj9nhFxwbg_kg': 106,
 'DyHVP8lkXZIJJMzMi5mNmA': 107,
 'E0YYcqC51lOCr00Iulo8WA': 108,
 'EAEGzbnzCVKsGdGKqxar-g': 109,
 'EHLjwy5Lcwoc0y0T8-K6hA': 110,
 'EK2pOs9qfLZ4KJ_foiUcEA': 111,
 'EWkA_yQ1VPa7cHbkiBbawA': 112,
 'EYKLA-GDj2BjOrZMWcyDZw': 113,
 'EbnYaqji7tgWfbE-pGh9Pw': 114,
 'EfGCZt9vjC5JEmMDoW1MJA': 115,
 'Emk1mYpI0fkF4fVdOTXlWg': 116,
 'EpVbxjAg5U0col2TwlCM5A': 117,
 'EuoMgEcBmsZfc-oPY07tag': 118,
 'EyzwOeUWwoKGeZcOcVUW0A': 119,
 'F2EGEYUjKuDcGFC8_RwzGA': 120,
 'FJnWA-O8yjGfs-sP6aDeUg': 121,
 'FLTPH5Q-4x8YFifJaE0hLQ': 122,
 'Fvjep4ZqFDjdb8GcIeP0Ww': 123,
 'G3w-bOEz4xHV-xQBWB8AuA': 124,
 'G5uEiVwme4wk4eh59YJOzA': 125,
 'GGrIEXSDJCVr1RFbs6nJlw': 126,
 'GOvVNYe2DwjGzwdVJIKw1Q': 127,
 'HJLhagxTe9AXa0ryLqizwQ': 128,
 'HoB8idatCvvqE3WakY8XVw': 129,
 'Hpnp8R6mjwiSSNeCWBh-EQ': 130,
 'I7vT9_tzs1mlOh026o7wCw': 131,
 'I8XJ0pXJhcLwIojmJRjDLA': 132,
 'IEtdCTQkVyDKvmO4E2jM0A': 133,
 'INTfMTpc-FAolEmJrFBA3g': 134,
 'IO_4e8O1mjXlAoxbMma-Ww': 135,
 'ISn7WyGQaFpsVSRSh0NSqg': 136,
 'Ie_7wtLxTH-18v2Vjfc4RQ': 137,
 'It1WYBV_mfL3cQTwnCXLAg': 138,
 'IyS9EzonGaBJ3wsHis8DoQ': 139,
 'Iz5LoKETjU1Nd6JSb1fSHQ': 140,
 'J4zzgwb5vZKh0RlkINLnqw': 141,
 'J7HLofa7f50I_Wa_lWXY-w': 142,
 'JDw3tr5JRiul012BnDmVBg': 143,
 'JFPu-ACz7--hi53NEWiujQ': 144,
 'JKCjpcYT3QjbKPsGnL7K2Q': 145,
 'JM3JeMIesRkKN-FUt-z82w': 146,
 'JwMxSwqLVKA1jRVi9cXxxg': 147,
 'K5hlwzesZIaFrs5A7MjOaA': 148,
 'KGq-Jl261JEVn0WIqBY1Og': 149,
 'KIWp6AGrsJ3e1ztO1mozYw': 150,
 'KXisXptZl0q0YohlgMxODA': 151,
 'Kh1XJP54vra02w7vS5rRhg': 152,
 'KjAfW5_FRE5GfGmtJ6G-Mg': 153,
 'KjgSGFNP4cFMCcl9BciczQ': 154,
 'L9AsG9KRoRBBSbeTpNh3Jw': 155,
 'LOYwlpV6hscup6TudvQPbQ': 156,
 'LOhZnk5Df01RF_IVDdxPfA': 157,
 'LecmEQ29SMC1V72xTpzvBA': 158,
 'LkCSwCV-WX2eCnv5RUM3Kw': 159,
 'LraQ82HWH0qLJDjb2taHvA': 160,
 'M9jyCc7OfzGHEyeU9chyRQ': 161,
 'MA33mLwBJuUlqJxqOdlPQg': 162,
 'MD8BamEBwjP9cm_UpVgI4g': 163,
 'MKyzI400G95gNNhy-9Zfdg': 164,
 'MKzBzkzSYkIHpQFRVmprOw': 165,
 'Md_M7DS_M2pf9eK1o1Bh4A': 166,
 'Me0SN3nPoQIx52qsk0k-3A': 167,
 'MoFJMT88DeJdK6922NtCyg': 168,
 'MyqR0EQHPcnaT3zgrZGyEw': 169,
 'N7Ajt1IvN3kMOanmS8g02w': 170,
 'NP3BJt0rJgd95q60EB5i-g': 171,
 'NQf38qIBsoYBHsyHdl2ieA': 172,
 'NQu0GgFMcAB6ucmhSNpcSQ': 173,
 'NSa492487A7Z1auuZLDk9g': 174,
 'NUqFsPN3q1c8QVNM9tz7wQ': 175,
 'NVrUsIZygmjSoSc3vLZzWA': 176,
 'N_Ghvgs7rt7ie1XRx3yuVA': 177,
 'NdFDovsgLCbStI8jNHlqzA': 178,
 'Nm869CZmsmBZptUeDP0Idw': 179,
 'O2ZrDUuqXoluq9cmrFhoyg': 180,
 'OZY5Lrmyzx_HYipumzktjg': 181,
 'OmhrlGSvuMWE368G1DJSHA': 182,
 'P6V9RkieLSCfm1yrfEEMlQ': 183,
 'P8zKuNXx2RTdA8xvt0Ttpw': 184,
 'PCU5mBJn44Nfj571TgkhmA': 185,
 'PDLi8v98GmqW3L9m2Fl1yw': 186,
 'PIEZXF83u-9who0k-WdmwQ': 187,
 'PNEfOmWljgkFQFAQqG0hdg': 188,
 'Pd04oywsHCe9FsWnFQ2Uog': 189,
 'PiuD3MDAuPEBzCxMFVhKUg': 190,
 'Pt3MejTD8EmVZvkyKu-SEw': 191,
 'PtDb2vf4H3Zk04r3xzCjMw': 192,
 'Q3Sy9RrZvQdCS3yWRj5BIg': 193,
 'Q9-rGHqJ5Q23VT1bFjXZpA': 194,
 'QD2uzdRvyTTC8tDissEtEQ': 195,
 'QJi1OYOyc6jYZ5fGdPhzcQ': 196,
 'QN-Huss0xj7VTIDp6iSRew': 197,
 'QNyGwvU9e81KKvqAWHYniA': 198,
 'Q_SdrcYiJum3OBxTX5HpMQ': 199,
 'Qj0iZf5hElfQH7Euy-FXEA': 200,
 'QlOTs8vBNl0p5wxZ-z03qQ': 201,
 'Qu6mxlp4kN2446FS2MnaDQ': 202,
 'QyqUZNUBJYzwcOvNOhEcgQ': 203,
 'R8IkJ_rYGtA7bfM1g49p8Q': 204,
 'RM2i-4PP3l22Wtc_yNHPHg': 205,
 'Rbnb0QKIycn6T-geVTxaQA': 206,
 'RcWABfPHCMfZjT-aXz7lhQ': 207,
 'ReNdW79g_1cxrgCJpFn7cA': 208,
 'SKeYViofOYLoc_ylckhpuA': 209,
 'SSy5VlcCPzbvdPqdgJ3ZbA': 210,
 'SW7bXYvHIbG9rQWf9zHR7A': 211,
 'SdSdPv95mN0E5HNyv_8Ngw': 212,
 'SemibYVWCfuik1DBWXemzg': 213,
 'SvVrpe8VqglIRNhfOo1_1A': 214,
 'SyLoKmaYwq9xCYeI6S6A3g': 215,
 'T8O9-SXiOQov6ujprhazOg': 216,
 'TJmzlQoUk4i8E1Sz76xunQ': 217,
 'TL34QOmDmMtJmsabvPLErg': 218,
 'TPQmNAM2g1vmm2xCfhyEJw': 219,
 'ThJR9dqTzQAFo1DV3w9Kww': 220,
 'Tk4EbkP-LdEm7Nz3oc6fnA': 221,
 'TkBCCLF4qY6RD8ApCC709w': 222,
 'U1vQfEbr8tIWoVGYDJsE9g': 223,
 'U943_qybrHj4-gRqgLCa8Q': 224,
 'UAv0p6JSTAuPrlkqUOxjQg': 225,
 'UF5RbV8huOI5axh3HR2ZxQ': 226,
 'UplfpgvI5BfuDjtolDrmsA': 227,
 'UvLC7ZEL7mR57ofbusy1EA': 228,
 'UwJSmW3H1J5fIxmWctd1Xg': 229,
 'V2BaScMb4Di2Jmzl1XdiLA': 230,
 'V7O7HZbEZgXFhX1ZsGkJGQ': 231,
 'VLGdENTqjFJuCjg1SbW7_g': 232,
 'VRoO8MJ38J5ufYcSR-qXpA': 233,
 'VfZso1koQMpEOzCAT10fCg': 234,
 'WKk0kFDJzVx8Fs053lgsgQ': 235,
 'WVQqkLAKowuIe51IVNXCZA': 236,
 'Wg0X79U295H69BC3Fnqd-w': 237,
 'WgruUR88nIv4Gy8NFm59KQ': 238,
 'WjGBYlKWPykVAAxVTAe2-Q': 239,
 'WoWdM04iCac1LlpOJ_iMsg': 240,
 'WyndIliatkr5pI1emBHthw': 241,
 'X0FAvERa1RL3XJ4yZwRSyg': 242,
 'XC3q0d2zz2QWJZxXcn09mA': 243,
 'XIUp964JgGfQDwYcDEykRw': 244,
 'XKbuDeij1bKCcN8iY3ASSQ': 245,
 'Y71vU07WBW5qGczn9_Yb7Q': 246,
 'YBr-7j6k_MYnPI7ZM_2cDA': 247,
 'YEbXns-ZhEmg84nLSn1OuQ': 248,
 'YF_NykkqZ4rqkVhvAVg0uA': 249,
 'YGvKdDk6mts6gJjYkFYfUQ': 250,
 'YQoJ5sQuAOvuXvB15-Xehw': 251,
 'YVUXZUEhjERXsUUYp4vHWA': 252,
 'YreH7gSQUazO6wA3Ch8RgQ': 253,
 'YuQS7CqZAwnLDdD-DCyTAA': 254,
 'YvPwu32fV1Mif1oWDP79IA': 255,
 'YyWCd2KjDS-G457AWVPX6g': 256,
 'ZCUSeMdUd_p42wVsjumhcw': 257,
 'ZIevcgcn293kTAKzUZGP0w': 258,
 'ZPc6XxBBPASoaDFAmEv7Pg': 259,
 'ZY1MigKZz4IA_WfSs2BYzA': 260,
 'Za5wVcCSz3oLupVAIUWvug': 261,
 'ZczRuT1P4CjLFJ9qrdVVMQ': 262,
 'Ze6HjOxBSUu2B5I-XkY1-Q': 263,
 'ZwYgtFKUdm51kCuOdfru0w': 264,
 'Zxj4PhLtrWUTaNsyN0bkWA': 265,
 '_9XDeyRO8Zp-jN9-q31VEA': 266,
 '_FvAOw523SIrdk4TypGM-Q': 267,
 '_NevrSKteq-divQmtoksxQ': 268,
 'a-6xhOItDaFR6cZ9vNBpSA': 269,
 'a2nFJQ12xNbRTm0__-hKdA': 270,
 'a8LMrcGZHstrP4lefzKaEA': 271,
 'aKI4hqPGrSPAxFOOdBTavw': 272,
 'aQwepOuXRlLA1cZssNsg_A': 273,
 'apzOjOV8mdmm_nOpslpOXg': 274,
 'aqdT9sDW7SgYouhohohb1Q': 275,
 'b-PKPxWqJSf-06CNg7G15g': 276,
 'bacKvSiYhtn2mbS5UkG2JQ': 277,
 'bb8GB9UwUE65xOCgAd4U4Q': 278,
 'bevrX5vgJFaK8uSddI2yZA': 279,
 'bg_Gqd-ZNluTOR_fjtgzDQ': 280,
 'bhbTeAWVv1mQ8SwHDNRYhA': 281,
 'bycajrY7UN-KAKiXICTTuA': 282,
 'c1iAXeFTSF6Zq3lmQMWPiQ': 283,
 'cCbcO9trzNfgLv_8A8s7qg': 284,
 'cEYGN49aZOwJMK3Cnng2_g': 285,
 'cMh7Vyz_VWAWaRy1I-M-EQ': 286,
 'cO2gEtdCUgSmJR-XY_rUUg': 287,
 'ceJIAT0jYR8ofV2wRetRLw': 288,
 'd8hR3Vr27uoYMXaK5PIW0w': 289,
 'dHgQQJHne3BhEMmXXVVq1Q': 290,
 'dWI0jCoOqjge9VQTIad-Ww': 291,
 'dX0HlPGZ_N_ctJ9iU6jRhg': 292,
 'dXmOO6L_wVccLc4AQGUJQQ': 293,
 'dqAvGHuGb-1K4Guv5VSnAA': 294,
 'eQBm7lEeSMRNVOseL3TZnA': 295,
 'eQalkhorc5UXwdaRJxZauQ': 296,
 'eUzKOeF-SjpXRoczQ18txQ': 297,
 'eu8pK_RnIIwcWgVOIDuCcQ': 298,
 'ey62_y_Pffm3LdHJk-zyRg': 299,
 'f4KcFcLyummNrtgSiSOT2Q': 300,
 'fJYXRBLGbg51TDUxYU6cnw': 301,
 'fb8vE8xoGzQ1asFZYqYXQw': 302,
 'fdo4pqfSYjQyW5_-rElfew': 303,
 'fwGODfUscgP8u7pSBfXrxA': 304,
 'fyJgGCwQGr2lUjHrl9EygQ': 305,
 'fz0QXqNdwT9DP0iZ0COJIw': 306,
 'g428REEbAhb4Ngumk5bJ6g': 307,
 'gMgSAUJdvUNan2FS1yhB9g': 308,
 'gVEdwH0VJ5s1oiRS6VfkaA': 309,
 'gfRaw_AHgcXQxTJXRBAVyw': 310,
 'gsOH_hvERWyjHWp7YpHaOw': 311,
 'gsn6ulUqovo3j4a9WVlQgw': 312,
 'gvocwvmYqvycKVihOSOgfQ': 313,
 'h2FP9h98G6_XQaGqq4QvqA': 314,
 'hDr6DClXOck49z4HBq36UA': 315,
 'hQ7P1QmGAQ3Ks7MYJnfCDw': 316,
 'hcuMeAAkdrqbGo61mUp-cA': 317,
 'heDO_cYM7C-BXmh17sMR-Q': 318,
 'hlza1b3AAlGKV3E95zHQsQ': 319,
 'hqlCk2CkmUrSLJjCeeF0FA': 320,
 'iBqJKlAkwk1MUbXLzAxgYw': 321,
 'iRdwDRvfIKtdf2dKvnpBkA': 322,
 'iYsSh1Gc8Fx9UYmrr6QzCQ': 323,
 'icCfgk4IOdEkBZHTWbV3qw': 324,
 'ieS_5zqxDHcWMCm8BKUYbg': 325,
 'izLZsJ5OiJ4U41bK_uH5xQ': 326,
 'j9gNve0AKwr4uzXo-W6y-Q': 327,
 'jCG_B8J7RlTUNwt50gmiBQ': 328,
 'jNXdIkCrteXjSQSktq-v7A': 329,
 'jZcp0cd5CZ9FMyEWp4t4Iw': 330,
 'jgq2lVsrVyvnN_BN2rdj_A': 331,
 'ji67zlVqF35EaexkdGEb-A': 332,
 'jmI1hALt8eDMW0Zeuzsz7Q': 333,
 'jp6Jal0HgUizYs1xJXpfag': 334,
 'jvKhto6__tCGfs2N27oWdg': 335,
 'kBeSz47A31hkp-qBAU82BQ': 336,
 'kO4jqeGR7mnBQM4aqWyAZA': 337,
 'kOrGo4G7su1F1KHrcybcVw': 338,
 'kTOlqpQmnA-8nWxE0lbFEA': 339,
 'kWavKUX7V0UOTpDqytbYfQ': 340,
 'l1XNqjp5oNqdHRSc1HtilA': 341,
 'lAAQgR-KPhO1UWWwKSYsig': 342,
 'lDD2K4Wn0Ozr01PhSy3Xsg': 343,
 'lLLMc4nWVGaRz3VxcARb7A': 344,
 'lP9ShuZ0no3flZhAfSZxJQ': 345,
 'lUkkxXzr46XdLsktFaL8AA': 346,
 'lzqrWzube7_N4H78GIODIw': 347,
 'm4z8d3ZA6uv5DHAl3vdH7Q': 348,
 'm6KgpLfmzLP22MCR4l3tSw': 349,
 'md28ZjV82YVLuEwdCw1GHQ': 350,
 'movDWSXMjO8S4AVbOKNPYg': 351,
 'mqnZJqwxyzu3tAcq87vT1A': 352,
 'n3bY9l_uDccV9X2TxH4rrg': 353,
 'nA8hY_b-yD4U_PQGWGmw9Q': 354,
 'nJbB2mpx_qWMxjt1njpW6A': 355,
 'nnNSwObJrjNIrK94smOYig': 356,
 'nrlydAGXvXGnqMPUICntOw': 357,
 'o-wnP0RZYdSwupsaA5yLvA': 358,
 'o1ToyQ3LHN0l6lnN_IO7XQ': 359,
 'o6NaG1h0HqPFL-fpE6a3Vg': 360,
 'oDcGLePhCiPUsLPRuj2Qrw': 361,
 'oHPhhac_ZZSK-Er1jCFjMQ': 362,
 'od7CxZ3a-EqlPy5FejfR9A': 363,
 'p8_yO34vsydnG-AgoIyIMA': 364,
 'pFjt5Z32Ek1Cu3h9c33ZaA': 365,
 'pGOPiDHsbzJYa_l6EcBOiA': 366,
 'pJuoa35eDPRXLf7kUbpMTg': 367,
 'pLUvNHH39copM0N70LSk7Q': 368,
 'pRnqduFXmhw6ojfCwRxqqg': 369,
 'p_XPpHiZbdOccx2jFUgZJA': 370,
 'q-KODGMRwlSW1kx1ws9y9Q': 371,
 'q2LM6qCuN9jTHmO1ojqb9g': 372,
 'qIoAIOF9AQFzocnrRpWsGw': 373,
 'qJw1Mag2VfaFPkEvu9dd6A': 374,
 'qZx7sf7JnviW51vUVEGlTA': 375,
 'r1W2aLrYE4f7tPL6oer56g': 376,
 'r926rih-QphrdDYZ-hpZNQ': 377,
 'rHyNCUy6McaH7E3NkFNSPA': 378,
 'rMrTzM9EET0wszOng1eINA': 379,
 'rOsuLELMJlvVu5Zcwor9JA': 380,
 'rUucWnD7nIN-S9e4lmAtsQ': 381,
 'rW0gGSZ41a8ZozxdLtOIDQ': 382,
 'rgDpWoAxBECK9mqfq9yDcA': 383,
 'rtlLrtUn35c9Y2eIcxHT8g': 384,
 's0LPuaTzR9euWzNT52o49Q': 385,
 's3ab0SOqV-bYZU0VDTWuxg': 386,
 'sJOcdfLvAnnBy6Vo0ylANQ': 387,
 'sUK2qmfNs7s7GnrVXtwK7w': 388,
 'sUzGTfR81JKDBZlABjgtMQ': 389,
 'sYxLM37rLmA-CtYkQmZxxg': 390,
 'scYFp5UvkEq2eaxzxXdhWQ': 391,
 'sdNaP8ecfDXzoigTjO2oTg': 392,
 'so6Il0np64sVlD_DV1VVdg': 393,
 't0EA_fXewpQWfzWMrpNjIw': 394,
 'tJktBaxOjKN88YZxVLP_zQ': 395,
 'to_8Hu144t7LkwV5aA2dAg': 396,
 'tsv8orCYzeIpMbXHP6DIQQ': 397,
 'txV7uNwsxAbbnm-ziBCsog': 398,
 'u4vKwc4p4HY2lT0Lneaz0w': 399,
 'u65W69AhbjUlvJJBkEhGNQ': 400,
 'uGJedOu-08rOb1z8JhVGqg': 401,
 'uP4pCpjzUGMDIRzMtHDCkg': 402,
 'uZnuIRNddfOPCEhz2ps4Lw': 403,
 'urXJ0WZvc_W41TQ7kLHukA': 404,
 'v1ItdmVymszjvg9Bka1zZQ': 405,
 'vbuiMP5oBNT9WJ6ynquTDw': 406,
 'viOIpHVViYTOtJw8C7UXng': 407,
 'vnOzM6USxuhmuXV_uqg0JA': 408,
 'vr6I0ExL05roU2nop6_ydw': 409,
 'vx0AtWxneT-kkJN1Ry9XJg': 410,
 'wPiSsKdsjbMXU3zSiDJJYw': 411,
 'wqw86PBY7YroWtw6_Rz_bA': 412,
 'wy4_MtpWYyxWrNZs-9xFzQ': 413,
 'x0rZunJEE9AQtXySoVwL1Q': 414,
 'x84DaPghJ9wSlPQORNITEA': 415,
 'xHBwztCojKjXCWDjSzjbkw': 416,
 'xMHJMhnDnsElouFuIFnfOg': 417,
 'x_LG8IhwHdmHae2jKm3biQ': 418,
 'xhiLV0y3esCsUxglV5cslg': 419,
 'yITYeW3JZS557DIXj9Ivhg': 420,
 'yPDeFO32NbrHYbpcuSNpTw': 421,
 'yZ_4kFwP7qplvJwYGZathA': 422,
 'yfBBcFueyxssR1L5PfX2RQ': 423,
 'ykCXwq632mXdQTSvvBdjlQ': 424,
 'yllFleLLvGVm9dZ-dRFZHg': 425,
 'yo61hxxXypWjpjxsgscuTA': 426,
 'yq2-iEDMbHreUgqVfRw7SQ': 427,
 'zE6WOWaqTFkngGCx6pX-cg': 428}

In [54]:
# Apply map to df to get int_ids
df['id'] = df['id'].map(id_map)
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,price,location,distance,area_code,phone_number,latitude,longitude,delivery,pickup,restaurant_reservation
0,99,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1181,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",$$,"{'address1': '203 N Paca St', 'address2': '', ...",1349.560720,410,727-4898,39.291696,-76.622240,True,False,False
1,325,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2726,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",$$$,"{'address1': '1728 Thames St', 'address2': '',...",2090.712792,443,449-7726,39.282140,-76.591620,True,False,False
2,400,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2918,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...",$$,"{'address1': '750 E Pratt St', 'address2': '',...",1028.736468,410,528-5373,39.287099,-76.605366,True,True,False
3,42,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1277,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}",$$,"{'address1': '2901 Odonnell St', 'address2': '...",3328.825798,410,276-3160,39.279860,-76.575240,True,True,False
4,370,the-local-oyster-baltimore,The Local Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/u_33ay...,False,https://www.yelp.com/biz/the-local-oyster-balt...,217,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.2958288, 'longitude': -76.6188...",$$,"{'address1': '520 Park Ave', 'address2': None,...",966.729941,844,748-2537,39.295829,-76.618891,True,False,False

In [56]:
# Create and id lookup table for SQL
id_lookup = pd.DataFrame({'str_id':id_map.keys(),
                         'int_id':id_map.values()})
id_lookup.head(3)

                   str_id  int_id
0  -CGGHN0TJHr3FW7Kdt0K2g       0
1  -QNqenvxWiBAaJdhhTB04Q       1
2  -pVulrA2NbgQUNS_jDjEqA       2

In [ ]:
pd.merge