# LP Practice

In [39]:
import json

## What is the top level of the JSON data??

In [40]:
# Open the JSON file and display the first level of keys
# Open API results WITH json module
with open('data/example_yelp_results.json') as f:   #adjust for your path
    json_file = json.load(f)
    
## What type is top-level of json?
type(json_file)

dict

In [41]:
# what are the keys?
json_file.keys()

dict_keys(['businesses', 'total', 'region'])

## What is stored in the second level??
Three keys to explore...

### Region

In [42]:
# What type is region?
type(json_file['region'])

dict

In [43]:
# what keys are in region?
json_file['region'].keys()

dict_keys(['center'])

In [44]:
# what type is center?
type(json_file['region']['center'])

dict

In [45]:
# What keys are in center?
json_file['region']['center'].keys()

dict_keys(['longitude', 'latitude'])

In [46]:
# visualize the whole center dict...
json_file['region']['center']

{'longitude': -76.607666015625, 'latitude': 39.29617825404647}

looks like the center point of the yelp search was lat -76, long 39

### total

In [47]:
# What is stored in the total key
type(json_file['total'])

int

In [48]:
# What is the value?
json_file['total']

435

looks like there were 435 results for the yelp search

### businesses

In [49]:
# What is in the businesses key?
type(json_file['businesses'])

list

In [50]:
# how long is the list of businesses
len(json_file['businesses'])

20

looks like there are 20 businesses stored in the list

In [51]:
# What does the first entry of the list look like??
json_file['businesses'][0]

{'id': 'D9A33FM394q99o4QtK5YwA',
 'alias': 'faidleys-seafood-baltimore-3',
 'name': 'Faidleys Seafood',
 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDCVS7pGopH6GZcfjBA/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/faidleys-seafood-baltimore-3?adjust_creative=KJtcufKUS887p24u6rjVIQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KJtcufKUS887p24u6rjVIQ',
 'review_count': 1184,
 'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'beerbar', 'title': 'Beer Bar'}],
 'rating': 4.0,
 'coordinates': {'latitude': 39.291696, 'longitude': -76.62224},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '203 N Paca St',
  'address2': '',
  'address3': '',
  'city': 'Baltimore',
  'zip_code': '21201',
  'country': 'US',
  'state': 'MD',
  'display_address': ['203 N Paca St', 'Baltimore, MD 21201']},
 'phone': '+14107274898',
 'display_phone': '(410) 727-4898',
 'distance': 1349.560720156645}

In [52]:
# what are the keys for that entry???
json_file['businesses'][0].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

## Identifying "Records"
There is a name for a particular type of json format in which we have a list that contains dictionaries with matching keys for each item... these are called records. 

It looks like "businesses" key is a list of records... **records can be turned into DataFrames for easier inspection**

In [53]:
import pandas as pd
df_businesses = pd.DataFrame(json_file['businesses'])
df_businesses.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1184,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2919,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","[delivery, pickup]",$$,"{'address1': '750 E Pratt St', 'address2': '',...",+14105285373,(410) 528-5373,1028.736468
2,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2729,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1279,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","[delivery, pickup]",$$,"{'address1': '2901 Odonnell St', 'address2': '...",+14102763160,(410) 276-3160,3328.825798
4,ISn7WyGQaFpsVSRSh0NSqg,sal-and-sons-baltimore,Sal and Sons,https://s3-media3.fl.yelpcdn.com/bphoto/LmVL4j...,False,https://www.yelp.com/biz/sal-and-sons-baltimor...,153,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.284, 'longitude': -76.59337}",[delivery],$,"{'address1': '1640 Aliceanna St', 'address2': ...",+14106751466,(410) 675-1466,1817.406978

In [54]:
# Note this is not perfect... some columns are still off
df_businesses[['categories', 'coordinates', 'location']].head(3)

,categories,coordinates,location
0,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.291696, 'longitude': -76.62224}","{'address1': '203 N Paca St', 'address2': '', ..."
1,"[{'alias': 'breakfast_brunch', 'title': 'Break...","{'latitude': 39.2870995, 'longitude': -76.6053...","{'address1': '750 E Pratt St', 'address2': '',..."
2,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.28214, 'longitude': -76.59162}","{'address1': '1728 Thames St', 'address2': '',..."

In [55]:
filepath = "D:/Users/Mike PC/Mike PC/.secret/yelp_api.json"

with open(filepath) as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [56]:
from yelpapi import YelpAPI
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)

In [57]:
results = yelp_api.search_query(location='baltimore, MD,21202',
                               term = "Crab Cakes")

type(results)
results.keys()

dict_keys(['businesses', 'total', 'region'])

In [58]:
results['total']

435

In [59]:
import pandas as pd
biz = pd.DataFrame(results['businesses'])
biz.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1189,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2734,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792

# Pagination vs Offset

You might notice that there are 437 results but only 20 businesses in our list... that is because yelp only shows 20 businesses per 'page'. To get the next 'page' we have to run another call with offset...

In [60]:
results = yelp_api.search_query(location = 'Baltimore, MD,21202',
                               term = 'Crab Cakes',
                               offset = 20)

In [61]:
biz20 = pd.DataFrame(results['businesses'])
biz20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,n3bY9l_uDccV9X2TxH4rrg,baltimore-seafood-baltimore,Baltimore Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/IOF6mr...,False,https://www.yelp.com/biz/baltimore-seafood-bal...,200,"[{'alias': 'seafood', 'title': 'Seafood'}]",4.5,"{'latitude': 39.28284, 'longitude': -76.58375}","[pickup, delivery]",$$,"{'address1': '2324 E Boston Sreet', 'address2'...",+14106245166,(410) 624-5166,2544.231682
1,VLGdENTqjFJuCjg1SbW7_g,nicks-fish-house-baltimore,Nicks Fish House,https://s3-media3.fl.yelpcdn.com/bphoto/xMvMJ9...,False,https://www.yelp.com/biz/nicks-fish-house-balt...,840,"[{'alias': 'seafood', 'title': 'Seafood'}]",4.0,"{'latitude': 39.26036, 'longitude': -76.61421}",[delivery],$$,"{'address1': '2600 Insulator Dr', 'address2': ...",+14103474123,(410) 347-4123,3984.496569

In [62]:
businesses = pd.concat([biz, biz20],
                      ignore_index=True)
display(businesses.head(3), businesses.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1189,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2734,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2939,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","[delivery, pickup]",$$,"{'address1': '750 E Pratt St', 'address2': '',...",+14105285373,(410) 528-5373,1028.736468

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
37,uP4pCpjzUGMDIRzMtHDCkg,old-bay-seafood-baltimore,Old Bay Seafood,https://s3-media1.fl.yelpcdn.com/bphoto/ofor5U...,False,https://www.yelp.com/biz/old-bay-seafood-balti...,5,"[{'alias': 'seafood', 'title': 'Seafood'}]",4.5,"{'latitude': 39.2839579930058, 'longitude': -7...",[],$$,"{'address1': '333 W Camden St', 'address2': ''...",+18888482473,(888) 848-2473,1807.250816
38,pJuoa35eDPRXLf7kUbpMTg,the-choptank-baltimore,The Choptank,https://s3-media3.fl.yelpcdn.com/bphoto/0Mdtr7...,False,https://www.yelp.com/biz/the-choptank-baltimor...,200,"[{'alias': 'seafood', 'title': 'Seafood'}]",4.0,"{'latitude': 39.283338, 'longitude': -76.593321}",[],NaN,"{'address1': '1641 Aliceanna St', 'address2': ...",+14437073364,(443) 707-3364,1891.591150
39,6ulR8s_SK3X0wYVQNZ0DSQ,next-phaze-cafe-baltimore,Next Phaze Cafe,https://s3-media3.fl.yelpcdn.com/bphoto/Z9Z5VT...,False,https://www.yelp.com/biz/next-phaze-cafe-balti...,84,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,"{'latitude': 39.2913148, 'longitude': -76.6130...","[pickup, delivery]",$$,"{'address1': '112 E Lexington St', 'address2':...",+14104493232,(410) 449-3232,710.122481

# Efficient API Practice

In [63]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Additional Imports
import os, json, math, time
from yelpapi import YelpAPI
from tqdm.notebook import tqdm_notebook

In [64]:
# load API creds
with open('../../.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [65]:
yelp_api = YelpAPI(login['api-key'], timeout_s=3)
yelp_api

In [66]:
# Define Search Terms
LOCATION = 'Charlottesville, VA'
TERM = 'Winery'

In [67]:
# Create file location to save in progress results
FOLDER = "Data/"

JSON_FILE = f"{FOLDER}results_in_progress_{LOCATION.split(',')[0]}_{TERM}.json"
JSON_FILE

'Data/results_in_progress_Charlottesville_Winery.json'

In [68]:
# Check if the JSON_FILE already exists to prevent overwrite
# IF it doesnt create folders in path and save an empty list

file_exists = os.path.isfile(JSON_FILE)

if file_exists == False:
    
    #Get Folder Name (IF THERE IS ONE)
    folder = os.path.dirname(JSON_FILE)
    
    # Check for folder... if there was a folder in the path make it.
    if len(folder) > 0:
        os.makedirs(folder, exist_ok = True)
    
    print(f"{JSON_FILE} not found. Saving empty list to file.")
    
    with open(JSON_FILE, 'w') as f:
        json.dump([],f)

else:
    print(f"[i] {JSON_FILE} already exists.")

[i] Data/results_in_progress_Charlottesville_Winery.json already exists.

In [69]:
# Determine the number of results already in the file
with open(JSON_FILE, 'r') as f:
    previous_results = json.load(f)

# Set offset based on previous results
n_results = len(previous_results)
print(f'- {n_results} previous results found.')

- 20 previous results found.

In [70]:
results = yelp_api.search_query(location=LOCATION,
                               term=TERM,
                               offset = n_results+1)
results.keys()

dict_keys(['businesses', 'total', 'region'])

In [71]:
# Determine the total number of businesses captured by the Yelp Search
total_results = results['total']
total_results

77

In [72]:
# Determine the number saved per page
results_per_page = len(results['businesses'])
results_per_page

20

In [73]:
# Use math.ceil to round up for the toal number of pages needed
import math, time

n_pages = math.ceil((total_results-n_results) / results_per_page)
n_pages

# Subtract by n_results to avoid duplicating previous work!!!

3

In [74]:
# Save our results as we loop...
previous_results.extend(results['businesses'])
with open(JSON_FILE, 'w') as f:
    json.dump(previous_results,f)

In [75]:
# Look what tqdm can do!
from tqdm.notebook import tqdm_notebook

for i in tqdm_notebook(range(n_pages)):
    time.sleep(.5)

  0%|          | 0/3 [00:00<?, ?it/s]

In [76]:
for i in tqdm_notebook(range(1,n_pages+1)):
    time.sleep(.2)
    
    # Read in existing results for API call
    with open(JSON_FILE, 'r') as f:
        previous_results = json.load(f)
    
    # check length of results (IE are there results?)
    n_results = len(previous_results)
    
    # Run API using n_results+1 as offset
    results = yelp_api.search_query(location = LOCATION,
                                   term = TERM,
                                   offset = n_results+1)
    
    previous_results.extend(results['businesses'])
    
    with open(JSON_FILE, 'w') as f:
        json.dump(previous_results, f)

  0%|          | 0/3 [00:00<?, ?it/s]

In [80]:
final_df = pd.read_json(JSON_FILE)
display(final_df.head(), final_df.tail())

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,9WSh050KKnLktbzE3X5KBA,jefferson-vineyards-charlottesville,Jefferson Vineyards,https://s3-media4.fl.yelpcdn.com/bphoto/MGBDPm...,False,https://www.yelp.com/biz/jefferson-vineyards-c...,237,"[{'alias': 'wineries', 'title': 'Wineries'}]",4.0,"{'latitude': 37.990044, 'longitude': -78.443643}",[],$$,"{'address1': '1353 Thomas Jefferson Pkwy', 'ad...",+14349773042,(434) 977-3042,6630.950399
1,s6pzoTZDjQ4h_SY_FpP2SQ,gabriele-rausse-charlottesville,Gabriele Rausse,https://s3-media1.fl.yelpcdn.com/bphoto/HS8EsX...,False,https://www.yelp.com/biz/gabriele-rausse-charl...,77,"[{'alias': 'wineries', 'title': 'Wineries'}]",4.5,"{'latitude': 37.9460038, 'longitude': -78.4832...",[],$$,"{'address1': '3247 Carters Mountain Rd', 'addr...",+14349811677,(434) 981-1677,10995.036917
2,Z9djBo-FcFChFjE7sfXaIw,pippin-hill-farm-and-vineyards-north-garden,Pippin Hill Farm & Vineyards,https://s3-media2.fl.yelpcdn.com/bphoto/lc2NOq...,False,https://www.yelp.com/biz/pippin-hill-farm-and-...,326,"[{'alias': 'venues', 'title': 'Venues & Event ...",4.0,"{'latitude': 37.9577015, 'longitude': -78.661157}","[pickup, delivery]",$$,"{'address1': '5022 Plank Rd', 'address2': '', ...",+14342028063,(434) 202-8063,18452.142160
3,8H_FKdb3PRx1RLoAjnE86w,merrie-mill-farm-and-vineyard-keswick,Merrie Mill Farm & Vineyard,https://s3-media2.fl.yelpcdn.com/bphoto/SOP99o...,False,https://www.yelp.com/biz/merrie-mill-farm-and-...,26,"[{'alias': 'winetastingroom', 'title': 'Wine T...",4.5,"{'latitude': 38.0542984, 'longitude': -78.2956...",[],NaN,"{'address1': '594 Merrie Mill Farm', 'address2...",+14343653006,(434) 365-3006,16223.671596
4,gXNjZS7yl2MRq9BY63v8Tg,glass-house-winery-free-union,Glass House Winery,https://s3-media2.fl.yelpcdn.com/bphoto/MHRI2-...,False,https://www.yelp.com/biz/glass-house-winery-fr...,87,"[{'alias': 'wineries', 'title': 'Wineries'}, {...",4.5,"{'latitude': 38.2025939, 'longitude': -78.5791...",[],$$,"{'address1': '5898 Free Union Rd', 'address2':...",+14349750094,(434) 975-0094,19646.202482

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
40,5qNkM1pPktyaQVbQfjZfdw,top-shelf-transportation-charlottesville,Top Shelf Transportation,https://s3-media1.fl.yelpcdn.com/bphoto/OQZ4jE...,False,https://www.yelp.com/biz/top-shelf-transportat...,22,"[{'alias': 'winetours', 'title': 'Wine Tours'}...",5.0,"{'latitude': 38.086855, 'longitude': -78.469888}",[],NaN,"{'address1': '1869 Seminole Trl', 'address2': ...",+14342959462,(434) 295-9462,4728.832738
41,RWy9KbL58h9HhTfJOHhmJA,vingo-tours-charlottesville,VinGo Tours,https://s3-media1.fl.yelpcdn.com/bphoto/AQUza5...,False,https://www.yelp.com/biz/vingo-tours-charlotte...,2,"[{'alias': 'winetours', 'title': 'Wine Tours'}]",5.0,"{'latitude': 38.0423698425293, 'longitude': -7...",[],NaN,"{'address1': None, 'address2': None, 'address3...",+14342601603,(434) 260-1603,1727.472447
42,maMeVkLA1yIBkzbOm7aF6A,hyatt-place-charlottesville-charlottesville,Hyatt Place Charlottesville,https://s3-media2.fl.yelpcdn.com/bphoto/5uIHa5...,False,https://www.yelp.com/biz/hyatt-place-charlotte...,50,"[{'alias': 'hotels', 'title': 'Hotels'}, {'ali...",4.0,"{'latitude': 38.0664497284703, 'longitude': -7...",[],$$,"{'address1': '2100 Bond St', 'address2': '', '...",+14349955200,(434) 995-5200,2763.470629
43,OePDEUHpth8EkGAbfQ7FGg,omni-charlottesville-hotel-charlottesville,Omni Charlottesville Hotel,https://s3-media4.fl.yelpcdn.com/bphoto/yRMk-B...,False,https://www.yelp.com/biz/omni-charlottesville-...,109,"[{'alias': 'hotels', 'title': 'Hotels'}, {'ali...",3.5,"{'latitude': 38.031274, 'longitude': -78.483499}",[],$$$,"{'address1': '212 Ridge McIntire Rd', 'address...",+14349715500,(434) 971-5500,1577.078252
44,yQ27NzO_Odi1gsjdv-XpfQ,charlottesville-transportation-charlottesville,Charlottesville Transportation,https://s3-media3.fl.yelpcdn.com/bphoto/Di9WTU...,False,https://www.yelp.com/biz/charlottesville-trans...,13,"[{'alias': 'airport_shuttles', 'title': 'Airpo...",5.0,"{'latitude': 38.0423698425293, 'longitude': -7...",[],NaN,"{'address1': None, 'address2': None, 'address3...",+14344668465,(434) 466-8465,1727.472447

In [82]:
final_df.duplicated(subset = 'id').sum()

0

In [36]:
type(previous_results)

list

In [83]:
# Save final DF to a csv (or csv.gz if you want to compress)
final_df.to_csv(f"{FOLDER}results_final_{LOCATION.split(',')[0]}_{TERM}.csv.gz",
               compression='gzip', index = False)