##Renaming, Deleting, & Missing Data
**Student**: Michael McCann <br>
**Date**: 02 FEB 2022

In [1]:
# Import libraries

import pandas as pd
!pip install openpyxl==3.0.0

Collecting openpyxl==3.0.0
  Downloading openpyxl-3.0.0.tar.gz (172 kB)
     |████████████████████████████████| 172 kB 6.6 MB/s
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl==3.0.0) (1.4.1)
Requirement already satisfied: et_xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl==3.0.0) (1.1.0)
Building wheels for collected packages: openpyxl
  Building wheel for openpyxl (setup.py) ... done
  Created wheel for openpyxl: filename=openpyxl-3.0.0-py2.py3-none-any.whl size=241207 sha256=f4735817e8e38900a9729243a2c6eb448c53269fbf4b8264991d9ed5b37d0eaa
  Stored in directory: /root/.cache/pip/wheels/c7/64/ff/ce98f6e1d2701ae8e216c875da62feed2839ac8a3cae0ab8af
Successfully built openpyxl
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 2.5.9
    Uninstalling openpyxl-2.5.9:
      Successfully uninstalled openpyxl-2.5.9
Successfully installed openpyxl-3.0.0

In [2]:
# Load Drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
# Load Data

file = "/content/drive/MyDrive/Data/RailsToTrails_National Count Data_week.xlsx"
bike_df = pd.read_excel(file)

display(bike_df.head())
bike_df.info()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   Unnamed: 6                  52 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  1 non-null      float64
 9   Unnamed: 9                  1 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 4.2+ KB

# (1) Delete the unnecessary columns
- Unnamed: 7
- Unnamed: 8
- Unnamed: 9

In [13]:
# Methods would be drop or del. For convenience we will use the drop method. 
bike_df = bike_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'])

bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  Unnamed: 6
0    Week 1 2020-12-30  ...          0.094627    1.094627
1    Week 2 2020-01-06  ...          0.179743  117.974253
2    Week 3 2020-01-13  ...          0.216112  121.611169
3    Week 4 2020-01-20  ...          0.105645  110.564504
4    Week 5 2020-01-27  ...          0.249166  124.916602

[5 rows x 7 columns]

In [ ]:
# del method:

#del bike_df['Unnamed: 7']
#del bike_df['Unnamed: 8']
#del bike_df['Unnamed: 9']

# (2) Rename the Unnamed: 6 column to percent_change.

In [14]:
#Dictionary Method
bike_df = bike_df.rename(columns={'Unnamed: 6': 'percent_change'})

bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

# (3) Put these together! Were there any weeks in the second half of the year (after July 31, 2020) where the change was greater than 100%?

In [15]:
bike_df.info()

#appears that 2021 counts is the only column with null values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   percent_change              52 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 3.0+ KB

# (4) Fill all missing values in the 2021 Counts column with 0.

In [34]:
#bike_df.loc[:, '2021 Counts'].fillna(0)
bike_df2 = bike_df
bike_df2[['2021 Counts']] = bike_df2[['2021 Counts']].fillna(0)
bike_df2.head()

# Found this online and like this method. Can speficy multiple columns outputs via dictionary method.
bike_df3 = bike_df.fillna({'2021 Count': 0})
bike_df3.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

# (5) Optional/Bonus: There is a challenging but common issue in the name for the 2019 counts column. Can you find it? If so, Rename the 2019 counts (31 counters) column to "counts_2019" (a more Pythonic column name).

In [39]:
# Space before the column name

list(bike_df3.columns)

['Timeframe',
 'Week of',
 ' 2019 counts (31 counters)',
 ' 2020 counts (31 counters)',
 '2021 Counts',
 'Change 2019-2020',
 'percent_change']

In [40]:

bike_df3 = bike_df.rename(columns={' 2019 counts (31 counters)': 'counts_2019',
                                   ' 2020 counts (31 counters)': 'counts_2020'})
bike_df3.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]