**Student**: Michael McCann <br>
**Assignment**: Loading and Filtering (Core) <br>
**Date**: 01 FEB 2022

In [1]:
# Import libraries

import pandas as pd
#!pip install openpyxl==3.0.0

In [2]:
# Load Drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
# Load Data

file = "/content/drive/MyDrive/Data/RailsToTrails_National Count Data_week.xlsx"
bike_df = pd.read_excel(file)

bike_df.head(10)
bike_df.info()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN
5    Week 6 2020-02-03  ...         NaN         NaN
6    Week 7 2020-02-10  ...         NaN         NaN
7    Week 8 2020-02-17  ...         NaN         NaN
8    Week 9 2020-02-24  ...         NaN         NaN
9   Week 10 2020-03-02  ...         NaN         NaN

[10 rows x 10 columns]

In [23]:
# read_excel wasnt working on the day I attempted this so I converted to CSV....

filepath = "/content/drive/MyDrive/Data/Copy of RailsToTrails_National Count Data_week.xlsx - Total Count data (31 counters).csv"
bike2_df = pd.read_csv(filepath)

bike2_df.head(10)
bike2_df.info()

# interestingly the 'Week of' column gets converted to an object from datetime64 once converted to CSV.
# Also 2019, 2020 counts are changed to ints and Change got changed to an object.

  Timeframe Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1  30-Dec  ...         NaN         NaN
1    Week 2   6-Jan  ...         NaN         NaN
2    Week 3  13-Jan  ...         NaN         NaN
3    Week 4  20-Jan  ...         NaN         NaN
4    Week 5  27-Jan  ...         NaN         NaN
5    Week 6   3-Feb  ...         NaN         NaN
6    Week 7  10-Feb  ...         NaN         NaN
7    Week 8  17-Feb  ...         NaN         NaN
8    Week 9  24-Feb  ...         NaN         NaN
9   Week 10   2-Mar  ...         NaN         NaN

[10 rows x 10 columns]

(1) Select just the data after July 31, 2020.

In [35]:
# Filters
jul31_filter = bike_df['Week of'] > '2020-07-31'
week1_filter = bike_df['Timeframe'] != 'Week 1'
delta_filter = bike_df['Change 2019-2020'] >= 1.0

In [29]:
# Filter for dates after 31 July 2020 
bike_df.loc[jul31_filter, :]

# it appears that the first point entered (week 1) may have had the wrong year listed so we will need to filter it out as well

after_july_df = bike_df.loc[jul31_filter & week1_filter, :]
after_july_df.head()

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN
35   Week 36 2020-08-31  ...         NaN         NaN

[5 rows x 10 columns]

(2) Select just data where the 'Change 2019-2020' column is greater than 100% (greater than 1).

In [36]:
# Filter for delta of 1.0 or greater.
bike_df.loc[delta_filter,:]

#appears that the change of greater than 1 only occured in the first half of hte year. Weeks 8, 12, 13, 14, 15.

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
7     Week 8 2020-02-17  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN

[5 rows x 10 columns]

(3) Put these together! Were there any weeks in the second half of the year (after July 31, 2020) where the change was greater than 100%?

In [37]:
bike_df.loc[jul31_filter & week1_filter & delta_filter,:]

# As noted above the change of greater than 1 only occured in the first half of the year. The resulting DF is empty.

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []